
@{
    ViewBag.Title = "Image";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main>
    <section id="accordion">
        <div class="container mt-5">
            <div class="accordion-header">
                <h1>Images</h1>
                <p>Inspiration comes of working every day.</p>
            </div>

            <div class="accordion-list">
                <ul>
                    <li>
                        <a href="#">Home > </a>
                    </li>
                    <li>
                        <a href="#">Shortcodes > </a>
                    </li>
                    <li>
                        <a href="#">Accordion > </a>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <section id="images">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-lg-6 col-sm-12 mt-2" id="images-content">
                    <h2>Rounded</h2>
                    <p>
                        Add classes to an
                        <code> <img> </code>
                        element to easily style images in any project.
                    </p>
                    <img src="~/Public/img/550x240 images.png" class="img-fluid rounded" alt="Responsive image">
                </div>

                <div class="col-lg-6 col-sm-12 mt-2" id="images-content">
                    <h2>Rounded (responsive)</h2>
                    <p>
                        Add classes to an
                        <code> <img> </code>
                        element to easily style images in any project.
                    </p>
                    <img src="~/Public/img/550x240 images.png" class="img-fluid rounded" alt="Responsive image">
                </div>
            </div>

        </div>
        </div>
    </section>

    <section id="images-round">
        <div class="container">
            <div class="row">
                <div id="images-content" class="col-lg-4 col-md-12">
                    <h2>Circle</h2>
                    <p>
                        Add classes to an
                        <code> <img> </code>
                        element to easily style images in any project.
                    </p>
                    <img src="~/Public/img/300x300 images.png" alt="">
                </div>
                <div id="images-content" class="col-lg-4 col-md-12">
                    <h2>Circle</h2>
                    <p>
                        Add classes to an
                        <code> <img> </code>
                        element to easily style images in any project.
                    </p>
                    <img src="~/Public/img/300x300 images.png" alt="">
                </div>
                <div id="images-content" class="col-lg-4 col-md-12">
                    <h2>Circle</h2>
                    <p>
                        Add classes to an
                        <code> <img> </code>
                        element to easily style images in any project.
                    </p>
                    <img src="~/Public/img/300x300 images.png" alt="">
                </div>

            </div>
        </div>
    </section>

    <section id="images-thumb">
        <div class="container">
            <div class="row ">
                <div id="images-content" class="col-lg-4 col-md-12">
                    <h2>Thumbnail</h2>
                    <p>
                        Add classes to an
                        <code> <img> </code>
                        element to easily style images in any project.
                    </p>
                    <img src="~/Public/img/400x250 images.png" alt="">
                </div>
                <div id="images-content" class="col-lg-4 col-md-12">
                    <h2>Thumbnail</h2>
                    <p>
                        Add classes to an
                        <code> <img> </code>
                        element to easily style images in any project.
                    </p>
                    <img src="~/Public/img/400x250 images.png" alt="">
                </div>
                <div id="images-content" class="col-lg-4 col-md-12">
                    <h2>Thumbnail</h2>
                    <p>
                        Add classes to an
                        <code> <img> </code>
                        element to easily style images in any project.
                    </p>
                    <img src="~/Public/img/400x250 images.png" alt="">
                </div>
            </div>
        </div>
    </section>
</main>


